/* HOME */
.presentation {
  background: linear-gradient(to bottom right, #dddddd, #CCCCCC);
  padding: 2% 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.homeDes {
  text-align: center;
}

.hello {
  color: #333;
  font-size: 55px;
}
.hello:hover {
  color: #2a008b;
}

.devImg {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  width: 99%;
}

.devImg:hover {
  filter: grayscale(0%);
}

@media screen and (max-width: 540px) {
  .presentation {
    margin: 25% 0;
  }
}

@media screen and (max-width: 540px) {
  .devImg {
    width: 100%;
  }
}

/* About */

.articleAboutMe {
  background-color: #f2f2f2;
  display: flexbox;
  font-family: 'Courier New', Courier, monospace;
  padding: 4% 0 5% 0;
  flex-wrap: wrap;
  min-height: calc(100% - 100px);
}

.h2title {
  font-size: 45px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background-color: #c9c9c9;
  transition: background-color 0.5s ease;
}



.h2title:hover {
  background-color: #2a008b;
  color: #ffffff;
  
}

.h2Name {
  margin: 0 37%;
  padding: 3px;
  
}

.container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 5% 0 0 0;
}

.textAM {
  font-size: 25px;
  text-indent: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-weight:550;
  padding: 15px;
  max-width: 65%;
  text-align: center;
  border: 2px solid transparent; 
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  border-image-slice: 1; 
}

.img1 {
  width: 250px;
  height: 250px;
  animation: rotate 5s linear infinite;
  transition: filter 0.3s ease;
}

.img1 {
  width: 250px;
  height: 250px;
  animation: rotate 8s linear infinite;
  filter: grayscale(100%); 
  transition: filter 0.3s ease;
}

.img1:hover {
  filter: grayscale(0%);
  
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



@media screen and (max-width: 540px) {
  .container {
    display: flexbox;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 540px) {
  .h2Name {
    margin: 0 10%;
    text-align: center;
    size: 25%;
    font-size: 35px;
  }
}

@media screen and (max-width: 540px) {
  .textAM {
    padding: 0;
    text-indent: 25px;
    max-width: 95%;
  }
}




/* Projects */

.projectSection {
  background-color: #f2f2f2;
  display: flexbox;
  font-family: 'Courier New', Courier, monospace;
  padding: 4% 0 3% 0;
  flex-wrap: wrap;
  background-color: #f2f2f2;
}

.textP {
  color: #000000;
  text-align: center;
}

.textP:hover {
  color:#2a008b;
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 5% 0 0 0;
}


.project {
  margin: 10px;
  position: relative;
}

.projectImg {
  width: 400px;
  height: 400px;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  border: #333 solid 4px;
  border-radius: 5px;
}
.projectImg:hover {
  border: #2a008b solid 7px;
}

@media screen and (max-width: 540px) {
  .projectImg {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 200px;
  }
}


.projectImg:hover {
  filter: grayscale(0%);
}

.project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  
}
.overlay {
  border-radius: 5px;
}
.project:hover .overlay {
  opacity: 1;
}

.project .overlay p {
  color: white;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 540px) {
  .project .overlay p {
    font-size: 10px;
  }
}

/* Contact */

.contact {
  background-color: #f2f2f2;
  padding: 20px;
  display: flexbox;
  font-family: 'Courier New', Courier, monospace;
  padding: 4% 0 3% 0;
  flex-wrap: wrap;
}

.buttonStyle {
  display: flex;
  justify-content: center;
  margin-top: 20px;

}

.linkedin-button,
.github-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin: 0 10px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.linkedin-button:hover,
.github-button:hover {
  background-color: #2a008b;
}

button svg {
  margin-right: 5px;
}

.dates {
  text-align: center;
  font-size: larger;
  font-weight: 900;
  padding: 2% 0 0 0;
}
.imagMail {
  filter: grayscale(100%); 
  transition: filter 0.5s ease; 
  width: 40%;
  height: 40%;
}
.imagMail:hover {
  filter: grayscale(0%);
}
@media screen and (max-width: 540px) {
  .imagMail {
    width: 80%;
    height: 80%;
    padding: 30% 0;
  }
}
.bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4%; 
  background-color: #333;
  color: #fff; 
  z-index: 999;
  text-align: center;
  padding-bottom: 0.5%;
}
