
.app {
  background-color: #f2f2f2;

}

@media screen and (max-width: 540px) {
  .app {
    padding: 0;
  }
}

.list {
  list-style-type: none;
  padding: 15px;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #333333dc;
}

@media screen and (max-width: 540px) {
  .list {
    padding: 25px;
    font-size: larger;
  }
}

@media screen and (max-width: 375px) {
  .list {
    font-size: 12px;
  }
}

.listitem {
  margin-right: 10px;
}

.listitem:last-child {
  margin-right: 0;
}

.listitem a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.listitem a:hover {
  background-color: #2a008b;
  color: rgb(250, 250, 250);
}

@media screen and (max-width: 540px) {
  .listitem a {
    font-size: 20;
  }
}
.bottom {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  z-index: 9999;
  text-align: center;
  padding: 5px 0;
}
.bottom:hover {
  background-color: #200069;
}

@media screen and (max-width: 540px) {
  .bottom {
    padding: 0;
    height: 3%;
    font-size: 12px;
    padding: 5px;
  }
}

@media screen and (max-width: 375px) {
  .bottom {
    height: 4.5%;
  }
}