.app {
  background-color: #f2f2f2;

}

@media screen and (max-width: 540px) {
  .app {
    padding: 0;
  }
}

.list {
  list-style-type: none;
  padding: 15px;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #333333dc;
}

@media screen and (max-width: 540px) {
  .list {
    padding: 25px;
    font-size: larger;
  }
}

@media screen and (max-width: 375px) {
  .list {
    font-size: 12px;
  }
}

.listitem {
  margin-right: 10px;
}

.listitem:last-child {
  margin-right: 0;
}

.listitem a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.listitem a:hover {
  background-color: #2a008b;
  color: rgb(250, 250, 250);
}

@media screen and (max-width: 540px) {
  .listitem a {
    font-size: 20;
  }
}